.skills {
  h2 {
    display: grid;
    margin-top: 25px;
    grid-template-columns: auto 1fr;
    align-items: center;
    column-gap: 8px;
  }
}
.skillBox {
  background-color: #f5f8f9;
  border-radius: 30px;
  padding: 24px 20px;
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}
