@use "../../assets/styles/use.scss";

.footer {
  grid-area: footer;
  background-color: #fff;
  padding: 10px 30px;
  border-radius: 0 0 30px 30px;

  @include use.media-queries("lg") {
    border-radius: 0 0 30px 0;
  }
}
