@use "../../assets/styles/use";

.header {
  grid-area: header;
  display: grid;
  overflow: hidden;

  @include use.media-queries("lg") {
    grid-template-columns: minmax(280px, 480px) 1fr;
    border-radius: 0 30px 0 0;
  }
}

.empty {
  display: none;

  @include use.media-queries("lg") {
    display: block;
    box-shadow: 50px 35px 0 0px #fff;
    border-radius: 0 0 50px;
    position: relative;
    right: -10px;
  }
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  column-gap: 5px;
  padding: 0 25px 0 50px;
  isolation: isolate;
  border-radius: 30px 30px 0 0;

  @include use.media-queries("lg") {
    border-radius: 70px/85px 0 0 0;
  }

  a {
    display: inline-block;
    padding: 8px 16px;
    color: #5f6f81;
    text-transform: uppercase;
    text-decoration: none;

    &:hover,
    &.active {
      background-color: use.$link-color;
      border-radius: 10px;
      color: #fff;
    }
  }
}
