@use "../assets/styles/use";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  width: 100dvw;
  min-height: 100vh;
  min-height: 100dvh;
  padding: 30px;
}

.section-wrapper {
  max-width: 720px;
  width: calc(100% - 60px);
  min-height: calc(100% - 60px);
  border-radius: 30px;
  box-shadow: use.$default-box-shadow;
  display: grid;

  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto 70px;
  grid-template-areas: "header" "sidebar" "main" "footer";

  @include use.media-queries("lg") {
    max-width: 1030px;
    grid-template-columns: 280px 1fr;
    grid-template-rows: 70px auto 70px;
    grid-template-areas: "header header" "sidebar main" "sidebar footer";
  }
}

.content {
  grid-area: main;
  background-color: #fff;
  padding: 40px 30px 0 30px;
}
